# File kredensial JSON (penting untuk menjaga kerahasiaan)
olaa-refund-f5d486f2dc3a.json

# Python bytecode files
__pycache__/
*.pyc

# Menjaga agar folder atau file tertentu tidak ter-commit
*.env

# File yang berhubungan dengan sistem operasi (Windows atau macOS)
.DS_Store
Thumbs.db
